
<h2>Ratings by: <%= @user.username%>
  <% if current_user and current_user.admin and @user.locked %>
      USER LOCKED
  <%end%>
</h2>
<p class="col-xs-3">
  <% if @ratings.size>0 %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Score</th>
        <th>Ravintola</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @ratings.each do |rating| %>
          <tr>
            <td><%= link_to rating.score, rating_path(rating) %></td>
            <td><%= link_to rating.get_place.name, places_path+"/"+rating.get_place.place_id%></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    </p>
<%else%>
    <strong>No ratings yet!</strong>
    <br>
<%end%>
<p>
  <% if current_user==@user %>
      <%= link_to 'Edit', edit_user_path(@user), class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent", id:"edit" %>
  <% end %>
  <% if current_user %>
      <% if  current_user.id != @user.id and not @user_friends.map(&:user_id).include? current_user.user_id %>
          <%= link_to "Add #{@user.username} as a friend", friendships_path(:friendship => {friend_a_id: current_user.id, friend_b_id: @user.id, status:"pending"}), method: :post, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"  %>
      <% end %>
      <% if current_user.admin and not @user.admin %>
          <%if not @user.locked%>
              <%= link_to "Lock #{@user.username}'s account", lock_account_path(:id => @user.id), method: :post%>
          <%else%>
              <%= link_to "Unlock #{@user.username}'s account", lock_account_path(:id => @user.id), method: :post%>
          <%end%>
      <%end%>
  <%end%>
  <%= link_to 'Back to all users', users_path, class:"mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"%>
</p>
<br>
<br>
<p class="col-xs-3">
  <% if current_user%>

      <% if current_user==@user  %>
          <% if @requests.size >0%>
            <h3>Pending requests:</h3>

            <ul class="demo-list-icon mdl-list">
              <% @requests.each do |request| %>
                  <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar ">person</i>
      <%= link_to User.getUser(request.friend_a_id).username, user_path(request.friend_a_id) %>
      </span>
                <span class="mdl-list__item-secondary-content">
                    <a class="mdl-list__item-secondary-action" href="<%= accept_request_path(:friendship => {friend_a_id: request.friend_a_id, friend_b_id: request.friend_b_id}) %>"><i class="material-icons">person add</i></a>
                </span>
                  </li>
              <%end%>
        <% end %>
        </ul>
    <%end%>
    </p>
    <br>
    <p class="col-xs-3">
      <% if @user_friends.size>0 %>
        <h3>Friends</h3>
        <% @user_friends.each do |friend| %>
            <li class="mdl-list__item">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar ">person</i>
      <%= link_to User.getUser(friend.id).username, user_path(friend.id) %>
      </span>
              <span class="mdl-list__item-secondary-content">
                    <a class="mdl-list__item-secondary-action" href="<%= delete_friendship_path(:friend_a_id=>friend.id) %>"><i class="material-icons">clear</i></a>
                </span>

            </li>
        <%end%>

    <%end%>
    </p>
<% end %>
