<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @rating.score %>
</p>

<p>
  <strong>User:</strong>
  <% if @rating.user_id %>
      <%= link_to @rating.user.username, @rating.user  %>
  <% else %>
      anon
  <% end %>

</p>
<p>
  <%= link_to @rating.get_place.name, places_path+"/"+@rating.get_place.place_id%>
</p>
<div class="col-xs-12 ">
<% if @rating.comment%>
    <p>
      <strong>Comment:</strong>
      <br>
      <div class="comment">
      <%=@rating.comment%>
      </div>

      </p>
      </div>
    <%= link_to 'Back', :back %>
    <% if current_user==User.getUser(@rating.user_id)%>
        <%= link_to "Edit", edit_rating_path%>
    <% end %>
<% end %>