<h1>Search places </h1>

<%= form_tag places_path do %>
    <div class="row ">
      <div class="col-sm-3 ">
          City:
          <br>
          <%= text_field_tag :city, params[:city], class:"input input-sm" %>
        </div>
        <div class="col-sm-3 ">
          <br>
          <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="my_place_checked">
            <%= check_box "my_place", :checked, class:"mdl-checkbox__input", onchange:"toggleDisabled(this.checked)" %>
            <span class="mdl-checkbox__label">My location</span>
          </label>
        </div>
        <div class="col-sm-3 ">
          Type:
          <%= select_tag(:type,  options_from_collection_for_select(@types, :to_s, lambda{|str| str.sub('_',' ').capitalize }, session[:last_search]), class:"form-control input-sm ")%>
        </div>
      <br>
        <div class="col-sm-3 "><%= submit_tag "Search", class:"btn btn-default" %>
        </div>
    </div>
<% end %>

<% if @places and @places.size>0  %>


    <table class="table table-hover">
      <thead>
      <tr>
        <% Place.rendered_fields.each do |field| %>
            <th> <%= field.to_s.capitalize.gsub('_', ' ')  %></th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% @places.each do |place| %>
          <tr>

            <td><%=link_to place.name, places_path.to_s+"/"+place.place_id %></td>
            <td> <%place.types.each do |type| %>
                  <%=link_to type.capitalize.gsub('_', ' '), places_path(city: params[:city], type: type), method: :post %>,
              <% end %>
            </td>
            <td><%=place.formatted_address %></td>
      <% end %>
      </tr>
      </tbody>
    </table>


<% end %>
<br>
<br>
<% if @places and @places.size==0%>
    <p class="col-xs-5">Haullasi ei löytynyt yhtään osumaa!</p>
<% end %>








