
<p>
<h1><%= @place.name%></h1>
</p>

<p>
  <%= @place.formatted_address%>
  <br>


  <% @ratings.each do |rating| %>
    <ul class="demo-list-three mdl-list">
      <li class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-avatar">person</i>
          <span>
            <%if rating.get_user%>
          <%= rating.get_user.username %>
      <%else%>
          ANON
                <%end%>
          </span>
          <span class="mdl-list__item-text-body">
            <% if rating.comment %>
            <%=rating.comment%>
            <% else %>
            no comment
            <% end %>
           </span>
          <%= rating.score%>
          </span>
         <span class="mdl-list__item-secondary-content">

        <i>Score: <%=rating.score%></i>
    </span>
      </li>

    </ul>

<% end %>

</p>
<p>
<h2>
  Arvostele tämä paikka:
</h2>
<p id="notice"><%= notice %></p>

<%= form_for(@rating) do |f| %>

    <% if @rating.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

          <ul>
            <% @rating.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field col-8">
      <%= f.label :score %><br>
      <%= f.number_field :score %>
      <br>
      <%= f.label :comment %>
      <br>
      <%= f.text_area :comment, cols:"100", rows:"5"%>
      <%= f.hidden_field :place_id, :value => @place.place_id %>

    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
</p>
